  
    <div class="row">
        <div class="col-lg-12">
           
            <div class="card">
                <div class="card-header bg-info">
                    <h4 class="m-b-0 text-white">User and Password Details</h4>
            </div>
                <div class="card-body">
                    

         <h2>Please Copy User Name and Generated Password</h2>
         <br>
         <div class="center">
            <h4>USERNAME</h4> : {{user.username}}
        </div>
        <br>
        <div class="center">
            <h4>PASSWORD</h4>: {{user.password}}
        </div>
<br> <br>
<div class="button-box text-center">
<button class="btn btn-success" [routerLink]="'../user'">User Page</button>
   </div></div>
            </div>
        </div>
</div>
 