
<!-- <div class="page-wrapper">
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">SupplyPlan Details </h3>
            </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="'../stock'">Home</a></li>
                    <li class="breadcrumb-item">SPR</li>
                    <li class="breadcrumb-item active">Supply Plan</li>
                </ol>
            </div>
        </div> -->
        <div class="row">
            <div class="col-lg-12">
                <div style="display:flex; justify-content:flex-end; width:100%; padding:0;">


                    <!--      fileuploadbulkstock -->
                    
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="flexRow">
                            <div class="m10">
                            <a  [hidden]="addvisiable"   [routerLink]="'../addsupplyplan'"> <button type="submit" class="btn btn-info">Add Plan <i class="mdi mdi-plus-circle-outline" tooltip="Add Plan"></i> </button>
                            </a>
                        </div>
                        <div class="m10">
                            <a  [hidden]="addvisiable"   [routerLink]="'../viewsupplyplan'"> <button type="submit" class="btn btn-info">View Plan <i class="mdi mdi-eye-outline" tooltip="View Plan"></i></button>
                            </a>
                        </div>
                        <!-- <div class="m10">
                            <a  [hidden]="addvisiable"   [routerLink]="'../editsupplyplan'"> <button type="submit" class="btn btn-info">Edit Plan <i class="mdi mdi-pencil" tooltip="Edit Plan"></i> </button>
                            </a>
                        </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--     </div>
</div> -->