
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-header bg-info">
                        <h4 class="m-b-0 text-white">View Authorize Depot</h4>
                    </div>
                    <div class="card-body">

                        <div class="table-responsive">

                            <table class="table table-striped">
                                <thead>
                                    <tr class="bg-info m-b-0 text-white">

                                        <th>Depot Name</th>
                                        <th>Depot Id</th>
                                        <th>Depot Location</th>
                                        <th>Day number</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let d of depotList">
                                        <td> <strong>{{d.DEPOT_NAME}}</strong></td>
                                        <td><strong>{{d.DEPOT_ID}}</strong></td>
                                        <td><strong>{{d.DEPOT_LOCATION}}</strong></td>
                                        <td><strong>{{d.DAYNUMBER}}</strong></td>
                                        <td><strong>{{d.REMARKS}}</strong></td>
                                    </tr>

                                </tbody>
                            </table>
                            <div class="button-box text-center">

                                <button class="btn btn-info" (click)="authroizeDepot(depotList)">Authorize</button>
                                <button class="btn btn-inverse" [routerLink]="'../depot'">Cancel</button>
                                <button class="btn btn-danger"
                                    (click)="DeauthroizeDepot(depotList)">De-Authorize</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
