
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-header bg-info">
                        <h4 class="m-b-0 text-white">View Delete Authorize Product</h4>
                    </div>
                    <div class="card-body">

                        <div class="table-responsive">
                      
                            <table class="table table-striped">
                                <thead>
                                    <tr class="bg-info m-b-0 text-white">
                                        <th>Product Name</th>
                                        <th>Product Id</th>
                                        <th>Depot Name</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let product of productlist">
                                        <td> <strong>{{product.PRODUCT_NAME}}</strong></td>
                                        <td><strong>{{product.PRODUCT_ID}}</strong></td>
                                        <td><strong>{{product.DEPOT_NAME}}</strong></td>
                                        <td><strong>{{product.REMARKS}}</strong></td>
                                       </tr>
                                </tbody>
                            </table>
                            <div class="button-box text-center">
                                <button class="btn btn-info" (click)="deleteauthroizeproduct(productlist)">Authorize</button>
                                <button class="btn btn-inverse" [routerLink]="'../product'">Cancel</button>
                                <button class="btn btn-danger"   (click)="deleteDeauthroizeproduct(productlist)">De-Authorize</button>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   